<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
        xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        id="WebApp_ID" version="2.5">
  <display-name>lab-zw</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <display-name>Public</display-name>
    <web-resource-collection>
      <web-resource-name>public</web-resource-name>
      <description>Recursos publicos</description>
      <url-pattern>/common/*</url-pattern>
      <url-pattern>/css/*</url-pattern>
      <url-pattern>/img/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <display-name>Admin</display-name>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <description>Solo para administradores</description>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>Auxiliar</display-name>
    <web-resource-collection>
      <web-resource-name>auxiliares</web-resource-name>
      <description>Para auxiliares</description>
      <url-pattern>/samples/*</url-pattern>
      <url-pattern>/labcase/*</url-pattern>
      <url-pattern>/index.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>auxiliar</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>labV</realm-name>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/error.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <description>Administradores de Lab-z</description>
    <role-name>admin</role-name>
  </security-role>
  <security-role>
    <description>Auxiliar de laboratorio</description>
    <role-name>auxiliar</role-name>
  </security-role>
  <filter>
    <display-name>aznFilter</display-name>
    <filter-name>aznFilter</filter-name>
    <filter-class>lab.web.filter.AznFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>aznFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>labcaseController</display-name>
    <servlet-name>labcaseController</servlet-name>
    <servlet-class>lab.web.controller.LabcaseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>labcaseController</servlet-name>
    <url-pattern>/labcase/page1.htm</url-pattern>
    <url-pattern>/labcase/page2.htm</url-pattern>
    <url-pattern>/labcase/page3.htm</url-pattern>
    <url-pattern>/labcase/done.htm</url-pattern>
    <url-pattern>/labcase/search.htm</url-pattern>
    <url-pattern>/labcase/found.htm</url-pattern>
    <url-pattern>/assembly/testdescriptions.htm</url-pattern>
    <url-pattern>/assembly/selectcases.htm</url-pattern>
    <url-pattern>/assembly/newassembly.htm</url-pattern>
    <url-pattern>/results/listcases.htm</url-pattern>
    <url-pattern>/results/caseresult.htm</url-pattern>
    <url-pattern>/results/testresult.htm</url-pattern>
    <url-pattern>/results/registered.htm</url-pattern>
    <url-pattern>/results/listassemblies.htm</url-pattern>
    <url-pattern>/results/assemblyresult.htm</url-pattern>
    <url-pattern>/results/loadresult.htm</url-pattern>
    <url-pattern>/results/printresults.htm</url-pattern>
    <url-pattern>/results/mockpage.htm</url-pattern>
    <url-pattern>/labcase/loadcase.htm</url-pattern>
    <url-pattern>/labcase/closure.htm</url-pattern>
    <url-pattern>/labcase/close.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bankController</display-name>
    <servlet-name>bankController</servlet-name>
    <servlet-class>lab.web.controller.BankController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bankController</servlet-name>
    <url-pattern>/bank/labcases.htm</url-pattern>
    <url-pattern>/bank/save.htm</url-pattern>
    <url-pattern>/bank/banklist.htm</url-pattern>
    <url-pattern>/bank/bankform.htm</url-pattern>
    <url-pattern>/bank/savebank.htm</url-pattern>
    <url-pattern>/bank/viewbank.htm</url-pattern>
    <url-pattern>/bank/dimmensions.htm</url-pattern>
    <url-pattern>/bank/savelevel.htm</url-pattern>
  </servlet-mapping>
</web-app>